.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5%;
}
.card-img {
  /* w : h =~ 2.25 : 3.5 */
  width: 30vh;
  height: 47vh;
}

.card-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 30px;
  margin-top: 50px;
}
.button-container {
  margin: 30px;
}
.btn {
  cursor: pointer;
  width: 13vh;
  padding: 10px;
  margin: 10px;
}
